.cursive {
  font-family: 'Marck Script', cursive;
}

.logo {
  font-size: 36px;
}

.ev {
  font-size: 24px;
  padding-left: 5px;
  padding-bottom: 2px;
}

.banner .title {
  font-size: 48px;
}

.banner .blue {
  background-color: #6094B4;
  color: white;
  font-size: 30px;
  font-weight: 300;
}

body {
  background: transparent url(style/images/ws/bg2.jpg) repeat fixed;
}

a:hover {
  color: #3d87b3
}

ul.unordered li:before {
  /*font-family: 'fontello';*/
  content: "\2022";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  font-size: 13px;
  padding-right: 10px;
}

.blue-wrapper {
  background-color: #ECF5FC;
  -webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.14), inset 0 -1px 0 rgba(0,0,0,0.09);
  -moz-box-shadow: 0 -1px 0 rgba(0,0,0,0.14), inset 0 -1px 0 rgba(0,0,0,0.09);
  box-shadow: 0 -1px 0 rgba(0,0,0,0.14), inset 0 -1px 0 rgba(0,0,0,0.09);
}

h2.line {
  color: #6094B4;
}
